### Intellij
*.iml
.idea

### Eclipse
.project
.settings
.classpath

### Temporary files
*.orig
**/bin
*.tmp
*~
*.bak


### Grunt
target-grunt/
node_modules
node
bower_components

### miei files
listaUscite.txt
*.csv

listaUscite.txt